@model FarmersPlatform.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer Interface</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">


    <style>
        .app-bar {
            position: sticky;
            top: 0;
            background-color: #006800;
            display: flex;
            align-items: center;
            justify-content: space-between;
            z-index: 999;
            justify-content: flex-start; /* Align items to the left */
        }





            .app-bar .navigation ul {
                list-style-type: none;
                display: flex;
                margin: 0;
                padding: 0;
                font-size: 20px; /* Increase the font size to make the text bigger */
            }

            .app-bar .navigation li {
                margin-right: 30px;
            }

                .app-bar .navigation li:first-child {
                    margin-left: 0;
                }

                .app-bar .navigation li a {
                    color: #fff;
                    display: inline-block; /* Add display property */
                    padding: 10px 20px; /* Add padding for width and height */
                    border-radius: 5px; /* Add border-radius for rounded corners */
                    transition: background-color 0.5s, color 0.5s; /* Add transition effect */
                    text-decoration: none;
                }

                    .app-bar .navigation li a:hover {
                        background-color: #fff; /* Change background color on hover */
                        color: #006800; /* Change text color on hover */
                    }

            .app-bar .login {
                display: flex;
                align-items: center;
                margin-left: auto; /* Move the login section to the right */
            }

            .app-bar .btn-primary {
                background-color: #006800;
                color: #fff;
                border: none;
                transition: background-color 0.5s, color 0.5s;
                font-size: 18px; /* Increase the font size to make the text bigger */
                margin-right: 55px;
            }

                .app-bar .btn-primary:hover {
                    background-color: #fff;
                    color: #006800;
                    transition: background-color 0.5s, color 0.5s;
                }

                .app-bar .btn-primary:focus {
                    background-color: #fff;
                    color: #000;
                }

            .app-bar .dropdown-menu {
                background-color: #fff;
            }

                .app-bar .dropdown-menu .dropdown-item {
                    color: #000;
                }

                    .app-bar .dropdown-menu .dropdown-item:hover {
                        background-color: #000;
                        color: #fff;
                        transition: background-color 0.5s, color 0.5s;
                    }

            .app-bar .basket-icon {
                color: #fff;
                margin-right: 10px;
            }

            .app-bar .dropdown-toggle {
                background-color: #000;
            }


        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 20px;
        }

        .card {
            width: 300px;
            margin: 10px;
            border: none;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
        }

        .card-body {
            padding: 20px;
            text-align: center;
        }

        .card-title {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .card-text {
            margin-bottom: 10px;
        }

        .card img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .FarmersHeader {
            margin-top: 30px;
            margin-bottom: 50px;
            text-align: center;
        }


        .logo {
            display: flex;
            align-items: center;
            margin-right: 20px;
        }

        .company-logo {
            width: 120px; /* Adjust the width value as needed */
            height: 100%;
            object-fit: contain;
            margin-right: 10px; /* Adjust the margin-right value as needed */
        }

        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 999;
        }

        .floating-card {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #28a745; /* Green success color */
            color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            z-index: 1000;
        }

            .floating-card p {
                margin: 0;
            }

        .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            border: none;
            background-color: transparent;
            color: indianred;
            font-size: 24px;
            cursor: pointer;
        }
    </style>

</head>

<body>
    <div class="app-bar">
        <div class="logo">
            <a href="#top">
                <img src="@Url.Content("~/Images/FreshfulLogo.png")" alt="Company Logo" class="company-logo" />
            </a>
        </div>
        <div class="navigation">
            <a href="#" class="btn btn-primary">Fruits</a>
            <a href="@Url.Action("GoToCustomerInterface", "Customer", new { ViewBag.isLoggedIn, customerId = Model.CustomerId })" class="btn btn-primary">Farmers</a>
            @if (ViewBag.isLoggedIn)
            {
                <a href="@Url.Action("CustomerOrders", "Customer", new { customerId = Model.CustomerId })" class="btn btn-primary">Orders</a>
            }



        </div>
        <div class="login">
            @if (ViewBag.isLoggedIn)
            {
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @Model.FirstName
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">

                        <a href="@Url.Action("PersonalDetails", "Customer", new { customerId = Model.CustomerId })" class="dropdown-item">Personal Details</a>
                        <a href="@Url.Action("Logout", "Customer", new { customerId = Model.CustomerId })" class="dropdown-item">Logout</a>
                    </div>
                </div>
            }
            else
            {
                <a href="@Url.Action("ShowLoginPage", "Home", new { isFarmer = false })" class="btn btn-primary">Login</a>
            }
            <i class="basket-icon fas fa-shopping-cart"></i>
        </div>
    </div>




    @*Here starts the loop that displays all vegetables *@

    <h2 class="FarmersHeader">Vegetables</h2>
    <!-- Farmer details section -->
    <div class="card-container">

        @foreach (var vegetable in ViewBag.AllVegetables)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <img src="@Url.Content("~/Images/" + @vegetable.Image)" class="card-img-top" alt="Product Image">

                    <div class="card-body">
                        <h5 class="card-title">@vegetable.Name</h5>
                        <p class="card-text">Price Per KG: $@vegetable.Price </p>
                        <p class="card-text">Category: @vegetable.Category</p>
                        <p class="card-text">Farmer Id: @vegetable.FarmerId</p>

                        <a href="@Url.Action("AddProduct", "Basket", new { productId = vegetable.ProductId , isLoggedIn = ViewBag.isLoggedIn , Model.CustomerId})" class="btn btn-primary add-to-cart-btn">Add to Basket</a>
                    </div>
                </div>
            </div>

        }
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script>
        function ToggleDropdown(elementId) {
            var dropdownContent = document.getElementById(elementId);
            dropdownContent.classList.toggle('show');
        }
    </script>

    <script>
        // Get the close button and overlay elements
        const closeBtn = document.getElementById('closeBtn');
        const overlay = document.querySelector('.overlay');

        // Function to close the modal
        function closeModal() {
            overlay.style.display = 'none';
        }

        // Add click event listener to the close button
        closeBtn.addEventListener('click', closeModal);

        // Add click event listener to the overlay to close the modal if clicked outside
        overlay.addEventListener('click', (event) => {
            if (event.target === overlay) {
                closeModal();
            }
        });
    </script>
</body>
</html>
